.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1440px;
  margin: 0 auto;
}
.container__header {
  display: flex;
  justify-content: space-around;
}
.ul--header-nav {
  display: flex;
  justify-content: space-between;
  width: 702px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.nav--link {
  color: #726e8d;
}
.header__logo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #22202e;
  width: 68px;
  height: 29px;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 16px;
}
.icon {
  width: 16px;
  height: 16p;
}
.search-icon {
  background-image: url(img/search.svg);
  background-size: cover;
}
.cart-icon {
  background-image: url(img/shopping--cart.svg);
  background-size: cover;
}
.profile-icon {
  background-image: url(img/user--avatar.svg);
  background-size: cover;
}

.section-select {
  display: flex;
  justify-content: space-around;
}
.main-select {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 1440px;
  height: 223px;
}
.select {
  display: flex;
  width: 570px;
  height: 48px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  justify-content: space-between;
}
.select::-ms-expand {
  display: none;
}
.select-wrapper {
  position: relative;
  width: 48px;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #2a254b transparent transparent transparent;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  pointer-events: none;
  text-align: center;
}

.category-wrapper {
  width: 139px;
}

.type-wrapper {
  width: 168px;
}

.price-wrapper {
  width: 109px;
}
.brand-wrapper {
  width: 118px;
}

.added-wrapper {
  width: 159px;
}
.main {
  display: grid;
  row-gap: 40px;
}
.main-articl {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
.sorting-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 305px);
  grid-template-rows: repeat(3, auto);
  row-gap: 60px;
  justify-content: space-around;
}
.card-chair {
  background-image: url(img/product-4.jpg);
  background-repeat: no-repeat;
  height: 375px;
}

.card-vaseset {
  background-image: url(img/product-3.jpg);
  background-repeat: no-repeat;
  height: 375px;
}

.card-vase {
  background-image: url(img/product-2.jpg);
  background-repeat: no-repeat;
  height: 375px;
}
.card-lamp {
  background-image: url(img/product-1.jpg);
  background-repeat: no-repeat;
  height: 375px;
}

.card-product {
  display: grid;
  align-items: end;
  width: 305px;
  height: 465px;
}
.card-name {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #2a254b;
}
.card-price {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #2a254b;
}
.main-btn {
  display: grid;
  justify-content: center;
  grid-column: span 4;
}
.btn {
  padding: 16px 32px 16px 32px;
  background-color: #f9f9f9;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.join-club {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-join-club {
  display: grid;
  align-content: space-between;
  height: 117px;
}
.join-club-img {
  background-image: url(img/join-background.jpg);
  background-repeat: no-repeat;
  width: 720px;
  height: 521px;
}
.join-club-description {
  display: grid;
  align-items: center;
}
.join-club-btn {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  width: 56px;
  padding: 16px 32px 16px 32px;
  background-color: #2a254b;
}
.join-club-header {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
}
.join-club-articl {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer {
  display: grid;
  height: 380px;
  background-color: #2a254b;
}
.footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.footer-img-map {
  background-image: url(img/map.jpg);
  background-repeat: no-repeat;
  width: 642px;
  height: 195px;
}
.footer-categories {
  display: grid;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.items {
  color: #fff;
}
.footer-items-wrapper {
  display: grid;
  grid-template-columns: 117px 86px 117px;
  justify-content: space-around;
  height: 195px;
  align-content: stretch;
}
.footer-contacts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 264px;
  height: 24px;
}
.svg-linkd {
  background-image: url(img/logo--linkedin.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.svg-facebk {
  background-image: url(img/logo--facebook.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.svg-instg {
  background-image: url(img/logo--facebook.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.svg-skype {
  background-image: url(img/logo--skype.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.svg-twittr {
  background-image: url(img/logo--twitter.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.svg-pintrst {
  background-image: url(img/logo--pinterest.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.footer-copyright {
  width: 1326px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid #4e4d93;
}
.copyright {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}
